.container{
     height: 150px;
     width: 180px;
     margin: auto;
     padding-top: 70px;
     input{
         border: 2px solid black; 
         padding: 10px;
         border-radius: 5px;

     }
     img{
          margin: 40px 0px 40px 0px ;
     }
     button{
          margin: auto;
          width: 50%;
     }
}
.btn button{
     padding: 10px 0px 10px 0px;
     border-radius: 5px;
     font-size: 16px;
}
.btn button:hover{
     background:#131D4F;
     color: beige;
     font-size: 16px;
}